@keyframes ball-ani {
	from {
		// transform: translate(0, 0);
	}

	to {
		transform: translate(200px, 200px);
	}
}

.ball {
	position: absolute;

	width: 30px;
	height: 30px;
	border-radius: 50%;

	background-color: dodgerblue;

	transition: 1s;

	margin: -15px -15px;
	
	border: 0px solid red;
	&.moving {
		background-color: red;
	}
	
	&.animating {
		border-width: 5px;
	}
}
