.characters {
	background: #fff000;
	display: flex;
	justify-content: space-around;

	.ilbuni {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		&:nth-child(1) {
			background-image: url("../pages/js/images/ilbuni_0.png");
		}
		&:nth-child(2) {
			background-image: url("../pages/js/images/ilbuni_1.png");
		}
		&:nth-child(3) {
			background-image: url("../pages/js/images/ilbuni_2.png");
		}
		&:nth-child(4) {
			background-image: url("../pages/js/images/ilbuni_3.png");
		}
	}
}
.ilbuni {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
}

.static {
	width: 200px;
	height: 200px;
}

.special {
	border: 10px dashed red;
}
